html {
  background-color: black;
  font-family: "Libre baskerville";
  color: white;
}

div {
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.motivation-img {
  border: 5px solid white;
  width: 100%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

p {
  text-align: center;
}
